body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    background-color: #FFFFFF;
}

.logo .logo-item-header {
    color:#2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
}

.logo {
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
}

.logo .logo-item-header:focus {
    color: #404bbf;

}

.adress {
    font-style: normal;
}

.contacts-item {
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.contacts-item:hover {
    color: #404BBF;

}

.contacts-item:focus{
    color: #404bbf;

}

.logo-item {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

ul, ol {
    list-style-type: none;

}

a {
    text-decoration: none
}

.header_item {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header_item:hover,
.header_item:focus {
    color: #404BBF;
}

.section-one {
    background-color: #2E2F42;
}

.section-title {
    text-align: center;
    font-family: "Roboto";
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: #FFFFFF;
}

.button-item {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;


}

.button-item:hover {
    background-color: #404BBF;
    cursor: pointer;

}

.button-item:focus {
    background-color: #404BBF;
    cursor: pointer;

}

.title {
    color: #2E2F42;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.title-text {
    color: #434455;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.title-team-hidden {
    color: #2e2f42;
}

.title-team {
    color: #2e2f42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section-three {
    background-color: #F4F4FD;
    ;


}

.team-item {
    background: #FFF;

}

.footer {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.title-team2 {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
}